.App {
  width: 600px;
  height: 800px;
  background-color: #eeeeee;
  margin: auto;
  margin-top: 2rem;
  padding: 2rem;
}

.Board {
  border-spacing: 0px;
  border-collapse: collapse;
}
.Board,
.Board td,
.Board tr,
.Board th {
  margin: 0;
  padding: 0;
}

.Slot {
  width: 85px;
  height: 85px;
  background: #cccccc;
  user-select: none;
  text-align: center;
}

.Profiles {
  width: 100%;
  margin-bottom: 1px;
}
.Profile {
  float: left;
  width: 5rem;
  text-align: center;
  margin-right: 1px;
}
.Profile .Hp {
  background-color: black;
}
.Profile .Hp span {
  height: 4px;
  background-color: red;
}
.Profile img {
  width: 5rem;
  height: 5rem;
}
.Profile span {
  display: block;
  font-size: 0.7rem;
  background: whitesmoke;
}

img {
  margin: 0;
  padding: 0;
}

.Players {
  padding-top: 10px;
}
.Character {
  width: 24px;
  height: 24px;
  margin: 4px 4px 0px 4px;
}
