.App {
  width: 600px;
  height: 800px;
  background-color: #eeeeee;
  margin: auto;
  margin-top: 2rem;
  padding: 2rem;
}

.Board {
  margin: auto;
}

.Slot {
  width: 4rem;
  height: 4rem;
  background: #cccccc;
  user-select: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
}
